:root {
    --orangeColor: #C7752C;
    --lightBlue: #B8D3D1;
    --darkBlue: #353946;
    --darkGreen: #304A39;
    --highlight: rgb(243, 243, 155);
}

main,
* {
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    padding: 50px;
}

body {
    background-color: var(--darkBlue);
    padding: 0;
    margin: 0;
}



#players {
    margin-top: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#player1,
#player2 {
    background-color: var(--orangeColor);
    margin: 40px;
    padding: 15px;
    color: white;
    font-size: large;
    font-weight: 800;
    width: 25%;
}

input {
    margin-bottom: 20px;
}

.screen {
    width: 80%;
    margin: auto;
}

#extra {
    background-color: var(--orangeColor);
    padding: 0;
    margin: auto;
    height: 100px;
    display: flex;
    justify-content: space-around;
}

button {
    background-color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 20%;
}

button:hover {
    cursor: pointer;
}

#gameScreen {
    background-color: var(--lightBlue);
    height: 75vh;
    margin: auto;
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 50px;
    row-gap: 50px;
}

.board {
    background-color: black;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
    position: relative;
}

.overlay {
    background-color: red;
    display: none;
}

.highlight {
    background-color: green;
}

.Xwon {
    opacity: 0.4;
}

.Owon {
    opacity: 0.4;
}


.space {
    background-color: white;
    min-height: 100%;
    min-width: 100%;
    border: 2px solid black;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: 900;
    color: green;
}

.space:hover {
    background-color: var(--highlight);
    color: black;
    transition: all;
    transition-duration: .75s;
}

.X {
    background-color: var(--darkBlue);
    color: white;
}

.O {
    background-color: var(--orangeColor);
    color: white;
}